/******************************************* Licenças :: PDF */

/***************** Configuração geral do PDF */

html
{
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
}

body
{
	margin: 0;
	border: 0;
	padding: 0;
	height: 100%;
}

.page-break
{
	page-break-after: always;
}

.pagina,
.pagina-branca
{
	min-height: 1402px;
	position: relative;
}

/***************** Backgrounds das Licenças */

body.LPI
{
	background-image: url('../img/licencas/lpi.jpg');
	background-size: cover;
}

body.LIO
{
	background-image: url('../img/licencas/lio.jpg');
	background-size: cover;
}

body.LOR
{
	background-image: url('../img/licencas/lor.jpg');
	background-size: cover;
}

body.LAR
{
	background-image: url('../img/licencas/lar.jpg');
	background-size: cover;
}

body.LI .pagina
{
	background-image: url('../img/licencas/li.jpg');
	background-size: cover;
}

body.LO
{
	background-image: url('../img/licencas/lo.png');
	background-size: cover;
}

body.LAS
{
	background-image: url('../img/licencas/las.jpg');
	background-size: cover;
}

body.LP
{
	background-image: url('../img/licencas/lp.jpg');
	background-size: cover;
}

/***************** Elementos da Licença */

.numero-licenca
{
	position: absolute;

	margin-left: 700px;
	margin-top: 300px;

	font-size: 20px;
	font-weight: bold;
}

.texto-inicial
{
	font-size: 16pt;
	margin-top: 360px;
	position: absolute;
	padding: 0 80px;
	text-align: justify;
}

.dados-principais
{
	position: absolute;
	margin-top: 500px;
	width: 100%;
}

.dados-principais .razao-social
{
	font-weight: bold;
	width: 100%;
	text-align: center;
	font-size: 16pt;
}

.bloco-razao,
.bloco-endereco,
.bloco-condicoes
{
	border: 1px solid #000;
	margin: 10px 80px;
}

.bloco-razao p
{
	font-weight: bold;
	font-size: 16pt;
	text-align: center;
	margin-top: 2px;
	margin-bottom: 2px;
	text-transform: uppercase;
}

.bloco-razao table
{
	width: 100%;
	font-weight: bold;
	font-size: 14pt;
}

p.pequeno
{
	text-transform: none;
}

.bloco-endereco p
{
	font-size: 16pt;
	font-weight: bold;
	text-align: center;
}

.bloco-endereco span.pequeno
{
	font-weight: normal;
}

div.condicoes-gerais
{
	font-weight: bold;
	text-align: center;
	width: 100%;
	font-size: 16pt;
}

.bloco-condicoes
{
	font-size: 15pt;
	font-weight: bold;
}

.texto-prazo
{
	padding: 0 80px;
	font-size: 15pt;
}

.texto-prazo.data
{
	margin-top: 20px;
}

.assinatura
{
	float: right;
	width: 500px;
	margin-top: 50px;
	margin-right: 50px;

	text-align: center;
	font-size: 16pt;
	font-weight: bold;
}

.assinatura .pequeno
{
	font-size: 12pt !important;
}

div.condicoes
{
	margin-left: 80px;
	font-size: 16pt;
	font-weight: bold;
	position: absolute;
	margin-top: 360px;

}

div.condicionantes
{
	/*position: absolute;*/
	float: left;
	margin-top: 400px;
	padding: 0 60px;
	text-align: justify;

	font-size: 15pt;
}

/******************************* Páginas Brancas ******************/

img.brasao
{
	position: absolute;
	left: 50%;
	margin-left: -50px;
	margin-top: 80px;
	width: 100px;
}

div.texto-superior
{
	text-align: center;
	float: left;
	width: 80%; 

	margin-top: 200px;
	margin-left: 10%;

	border-bottom: 1px solid #000;
}

div.texto-superior div
{
	text-align: center;
	font-weight: bold;
}

div.bloco-retirei
{
	border: 1px solid #000;
	float: left;

	margin-left: 10%;
	margin-top: 100px;
	width: 80%;

	font-weight: bold;
	font-size: 16pt;
	text-align: center;
}

div.texto-negrito
{
	float: left;
	width: 100%;
	margin-left: 10%;
	margin-top: 40px;
	width: 80%;

	font-weight: bold;
	font-size: 18pt;
	text-align: justify;
}

.centralizado
{
	text-align: center !important;
}

.assinatura-verso
{
	margin-top: 200px !important;
}

/**************************************** Rodapé */

.rodape-verso
{
	width: 80%;
	margin-left: 10%;
	position: absolute;
	bottom: 20px;

	border-top: 1px solid #000;
}

.rodape-verso div
{
	text-align: center;

}

.titulo
{
	float: left;
	width: 80%;
	margin-left: 10%;
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
	margin-top: 80px;
	font-size: 18pt;
}

.box-publicacao
{
	float: left;
	width: 50%;
	margin-left: 25%;

	border: 1px solid #000;

	margin-top: 50px;	
}

.box-publicacao div
{
	text-align: center;
	font-size: 16pt;
}