/******************************************* Body */

body
{
	/*background-color: #222d32;*/
}

/******************************************* Login */

.box-login
{
	width: 50% !important;
}

/******************************************* Sidebar */

.sidebar-menu>li .label
{
	margin-top: 10px;
	margin-right: 5px;
}

/******************************************* Usuários :: Listar */

ul.pagination
{
	margin: 2px 0 6px 0;
	float: right;
}

/******************************************* Usuários :: Editar */

.ajax-loader 
{
    margin-top: 5px;
    margin-right: 12px;
    display: none;
}